5.0.json
{
  "name": "5.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        1584
      ],
      "id": "4c0fbb8e-259c-4845-b6dc-16258f68a674",
      "webhookId": "2b54e487-fe60-42fb-b1d8-b0d5c2a5518d",
      "credentials": {
        "telegramApi": {
          "id": "F4NHNYaRZJLeZHOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "msg",
              "value": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"].toString()}}"
            },
            {
              "name": "telegram_user",
              "value": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"].toString()}}"
            },
            {
              "name": "pantalla_actual",
              "value": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] == '/start' ? ($node[\"Check User Profile\"].json[\"nombre\"] ? 'INICIO' : 'NO_REGISTRADO') : ($node[\"Check Session\"].json[\"pantalla_actual\"] ? $node[\"Check Session\"].json[\"pantalla_actual\"] : ($node[\"Check User Profile\"].json[\"nombre\"] ? 'INICIO' : 'NO_REGISTRADO')) }}"
            },
            {
              "name": "datos_previos_str",
              "value": "={{ $node[\"Check Session\"].json[\"datos_parciales\"] || '{}' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Init Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1312,
        1584
      ],
      "id": "98eca878-670e-46f7-8801-161f24e2b3a0"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "NO_REGISTRADO",
              "output": "={{ 0 }}"
            },
            {
              "value2": "REGISTRO_NOMBRE",
              "output": "={{ 1 }}"
            },
            {
              "value2": "INICIO",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_PRINCIPAL",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        944
      ],
      "id": "6d0a11d0-f9b7-4313-a8ba-fd1060fc0856"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "REGISTRO_NOMBRE"
            },
            {
              "name": "response_text",
              "value": "¡Hola! 👋 Veo que eres nuevo.\nPara empezar a Usar tu agenda Empecemos con:\n\n¿Cuál es tu nombre?"
            }
          ]
        },
        "options": {}
      },
      "name": "P0: New User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -592
      ],
      "id": "25c0cf65-c34d-4580-9da8-a54653717efe"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "¡Registrado! ✅  \nMenú principal:\n\n0. Ayuda \n1. Agenda (citas)\n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify({ \"nombre_user\": $node[\"Init Variables\"].json[\"msg\"] }) }}"
            },
            {
              "name": "action_flag",
              "value": "SAVE_USER"
            }
          ]
        },
        "options": {}
      },
      "name": "P0: Save User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -464
      ],
      "id": "e7776cb7-178e-4d96-b40f-a07c2e5474f6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Hola, soy AgendaBot 👋 \nEstoy aquí para ayudarte a organizar tus citas, tareas y recordatorios de forma sencilla y sin complicaciones.  \nPuedes escribirme en cualquier momento. Para avanzar, solo tienes que escribir el número de la opción que quieras usar.  \n\nMenú principal: \n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración\n8. Administrador  \n\nTip rápido: escribe solo el número (por ejemplo: 1) y presiona enviar."
            }
          ]
        },
        "options": {}
      },
      "name": "P1: Inicio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -336
      ],
      "id": "4d8e635d-9fd8-41db-9f03-972952171d2a"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "2",
              "output": "={{ 1 }}"
            },
            {
              "value2": "4",
              "output": "={{ 2 }}"
            },
            {
              "value2": "5",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Switch: Menu P.",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -544,
        1008
      ],
      "id": "52991803-f198-4af6-8165-0998faaae13b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_AGENDA"
            },
            {
              "name": "response_text",
              "value": "🗓️ Perfecto, vamos con tu agenda.\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva cita\n2. Consultar tu agenda\n3. Reprogramar una cita\n4. Cancelar una cita\n5. Marcar una cita como completada\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Agenda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -208
      ],
      "id": "20d3fc20-820e-444c-b1b5-7153044f5f45"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_TAREAS"
            },
            {
              "name": "response_text",
              "value": "Perfecto, vamos con tu Tareas.\n\n¿Qué deseas hacer?\n\n1. Crear una nueva tarea\n2. Consultar tus tareas\n3. Actualizar una tarea\n4. Borrar una tarea\n5. Marcar una tarea como completada\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Tareas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "491c0608-96c2-47fe-b603-13e489bf88c0"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_HABITOS"
            },
            {
              "name": "response_text",
              "value": "Perfecto, vamos con tus Habitos.\n\n¿Qué deseas hacer?\n\n1. Crear un nueva Habito\n2. Consultar tus Habitos\n3. Cambiar un Habito\n4. Borrar un Habito\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Habitos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        48
      ],
      "id": "1b5b3bb5-ba5a-445e-aefe-e041b429727f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_LISTAS"
            },
            {
              "name": "response_text",
              "value": "Perfecto, vamos con tus Listas\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva Lista\n2. Consultar tus Listas\n3. Borrar una Lista\n4. Actualizar Lista\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Listas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "a4f976c6-fd1f-419e-9569-23bdf0493dc2"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_GENERICO"
            },
            {
              "name": "response_text",
              "value": "🚧 Sección en construcción\nPresiona 9 para volver."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Otros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "a262101a-7cca-40ae-b75f-5350c0e34529"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "value2": "2",
              "output": "={{ 2 }}"
            },
            {
              "value2": "3",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Sw: Agenda",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        1440
      ],
      "id": "361bd8c4-9de1-4f7f-9ccf-612a7c9c65a5"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Empecemos a crear tu cita.\n\nPaso 1 de 6\n¿Cuál es la fecha de la cita?\n\nFormato: YYYY-MM-DD\nEjemplo: 2025-12-20\n\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Cita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        432
      ],
      "id": "a4090444-b2fe-4a89-b84b-e6dfa7872239"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Global Volver",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "e49e3918-e1be-4b8a-b3c8-0ac51ac19c23"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9' ? 'MENU_AGENDA' : 'CITA_PASO_2' }}"
            },
            {
              "name": "response_text",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9'\n  ? `🗓️ Perfecto, vamos con tu agenda.\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva cita\n2. Consultar tu agenda\n3. Reprogramar una cita\n4. Cancelar una cita\n5. Marcar una cita como completada\n9. Volver al menú principal`\n  : `Paso 2 de 6\n\n¿A qué hora será la cita?\n\nFormato 24 horas (HH:MM)\nEjemplo: 14:30\n\n9. Cancelar`\n}}\n"
            },
            {
              "name": "datos_parciales",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9' ? '{}' : JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json.datos_previos_str || '{}'), { fecha: $node[\"Init Variables\"].json.msg })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -1248
      ],
      "id": "41d2760c-82bc-4b5d-ba6a-45df12c872dc"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_3"
            },
            {
              "name": "response_text",
              "value": "Paso 3 de 6\n\n¿A nombre de quién es la cita?\n\nEscribe el nombre completo.\n\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"hora\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Hora",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -720
      ],
      "id": "a6c2655f-3fc5-4797-8b33-05ddf51a2bd2"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_4"
            },
            {
              "name": "response_text",
              "value": "Paso 4 de 6\n\nCuéntame brevemente el motivo de la cita.\n\nEjemplo: Asesoría técnica\n\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"nombre\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Nombre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "id": "307c307b-41b5-4454-ae69-0c7a796034e1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "={{ $node[\"Init Variables\"].json[\"msg\"] == '1' ? `✅ ¡Cita guardada correctamente!\n\n¿Qué deseas hacer ahora?\n\n0. Ayuda\n1. Agenda (citas)\n2. Tareas\n3. Recordatorios\n4. Hábitos\n5. Listas\n6. Reportes\n7. Configuración\n8. Administrador` : 'Cancelado' }}"
            },
            {
              "name": "action_flag",
              "value": "={{ $node[\"Init Variables\"].json[\"msg\"] == '1' ? 'SAVE_CITA' : 'NONE' }}"
            },
            {
              "name": "datos_parciales",
              "value": "={{$node[\"Init Variables\"].json[\"datos_previos_str\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -1120
      ],
      "id": "c1f9b50d-1b93-40d4-864d-90aee0816669"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Sw: Tareas",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        2784
      ],
      "id": "1a073d43-ffaf-45d4-b75d-522054c86c3b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "TAREA_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Nueva Tarea: Titulo?"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Tarea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        688
      ],
      "id": "c0f342b9-0796-4e56-a750-cf9a3f545d0f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "TAREA_PASO_2"
            },
            {
              "name": "response_text",
              "value": "Prioridad? (Alta/Media)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"titulo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Tarea: Titulo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1584
      ],
      "id": "38f81a85-db81-4a66-ba3b-f19515328d27"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "TAREA_PASO_3"
            },
            {
              "name": "response_text",
              "value": "Fecha? (YYYY-MM-DD)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"prioridad\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Tarea: Prioridad",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        944
      ],
      "id": "c26655b4-0aad-47c6-98d9-44fe260fd5f7"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Tarea Guardada ✅\n🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "action_flag",
              "value": "SAVE_TAREA"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_objetivo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Tarea: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        816
      ],
      "id": "c591e7f9-b6e6-492b-ac16-5a0aeafb2ccb"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Sw: Habitos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        1248
      ],
      "id": "b6d234a4-9537-40a0-acdf-897148c66998"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "HABITO_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Nuevo Hábito: Nombre?"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Habito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1072
      ],
      "id": "8babe4d7-8366-4efe-b3e4-f981311a698e"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "HABITO_PASO_2"
            },
            {
              "name": "response_text",
              "value": "Frecuencia? (Diaria/Semanal)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"nombre\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Hab: Nombre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1968
      ],
      "id": "c02521af-6f25-484a-a44d-469c247853d8"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "HABITO_PASO_3"
            },
            {
              "name": "response_text",
              "value": "Hora? (HH:MM)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"frecuencia\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Hab: Freq",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1456
      ],
      "id": "8a525e88-57fe-4e55-b1fe-8b074af1546d"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Hábito Guardado ✅\n🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "action_flag",
              "value": "SAVE_HABITO"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"hora_recordatorio\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Hab: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1200
      ],
      "id": "ce60a149-81a3-4f35-bdea-34a791d4f694"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Sw: Listas",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        2592
      ],
      "id": "eede30af-6c04-4be6-b0b1-f245d2eed97f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "LISTA_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Nueva Lista: Nombre?"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Lista",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1328
      ],
      "id": "48cbae2d-8466-4087-b982-20c2b1599814"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "LISTA_PASO_2"
            },
            {
              "name": "response_text",
              "value": "Tipo?"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"nombre_lista\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Lista: Nombre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1712
      ],
      "id": "3adde772-fc59-4360-9b94-a8453e0c0b3e"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Lista Creada ✅"
            },
            {
              "name": "action_flag",
              "value": "SAVE_LISTA"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"tipo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Lista: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        1840
      ],
      "id": "549b58b5-0eaa-4c93-a9d6-af00ef3002cd"
    },
    {
      "parameters": {},
      "name": "Merge Updates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1200,
        1488
      ],
      "id": "af739c49-c7de-4382-a214-fa85b2ce0db6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telegram_user",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            },
            {
              "name": "pantalla_actual",
              "value": "={{ $json[\"next_pantalla\"] }}"
            },
            {
              "name": "datos_parciales",
              "value": "={{ $json[\"datos_parciales\"] || '{}' }}"
            },
            {
              "name": "response_text",
              "value": "={{ $json[\"response_text\"] }}"
            },
            {
              "name": "action_flag",
              "value": "={{ $json[\"action_flag\"] || 'NONE' }}"
            },
            {
              "name": "paso_actual",
              "value": "={{ $json[\"next_pantalla\"] }}"
            },
            {
              "name": "timestamp_ultima_interaccion",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        1488
      ],
      "id": "275bd043-1739-49da-9e72-433f2bdf906f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upsert",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "SESSIONS!A:E",
        "key": "telegram_user",
        "options": {}
      },
      "name": "Update Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1584,
        1488
      ],
      "id": "2372003f-3f6f-4cd0-aed4-57773a1810ec",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}",
        "text": "={{ $json[\"response_text\"] }}",
        "additionalFields": {}
      },
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1808,
        1488
      ],
      "id": "d261336f-1280-4dc5-bfc9-39be8fa12e2c",
      "webhookId": "7f684f5d-ea32-4199-84ae-d1a8dda734ea",
      "credentials": {
        "telegramApi": {
          "id": "F4NHNYaRZJLeZHOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "MENU_AGENDA",
              "output": "={{ 0 }}"
            },
            {
              "value2": "MENU_TAREAS",
              "output": "={{ 1 }}"
            },
            {
              "value2": "MENU_HABITOS",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_LISTAS",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        1136
      ],
      "id": "e2e67549-b3c7-42b7-99a4-0a7186f8b8f0"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "CITA_PASO_1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "CITA_PASO_2",
              "output": "={{ 1 }}"
            },
            {
              "value2": "CITA_PASO_3",
              "output": "={{ 2 }}"
            },
            {
              "value2": "CITA_PASO_4",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        1328
      ],
      "id": "04175b20-34ce-40b6-9a5f-ce0e4d9da1f3"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "CITA_PASO_5",
              "output": "={{ 0 }}"
            },
            {
              "value2": "CITA_PASO_6",
              "output": "={{ 1 }}"
            },
            {
              "value2": "TAREA_PASO_1",
              "output": "={{ 2 }}"
            },
            {
              "value2": "TAREA_PASO_2",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        1520
      ],
      "id": "9122d52e-d73b-42ff-947b-2bc956f33a0a"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telegram_user",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($json[\"datos_parciales\"])[\"nombre_user\"] }}"
            },
            {
              "name": "rol",
              "value": "user"
            },
            {
              "name": "permitido",
              "value": "TRUE"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Map: User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        320,
        -480
      ],
      "id": "603a58f5-9e39-49fa-972d-cffbd72c4105"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "USUARIOS!A:D",
        "options": {}
      },
      "name": "Save User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        512,
        -480
      ],
      "id": "60da093d-68fe-4951-81ba-d27a646db80a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_cita",
              "value": "={{ 'C-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "fecha",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).fecha }}"
            },
            {
              "name": "hora",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).hora }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).nombre }}"
            },
            {
              "name": "motivo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).motivo }}"
            },
            {
              "name": "canal",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).canal }}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "estado",
              "value": "PENDIENTE"
            },
            {
              "name": "creado_por",
              "value": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"] }}"
            },
            {
              "name": "timestamp_creacion",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Cita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        320,
        -1136
      ],
      "id": "04862006-cf38-4da3-b4e0-494ef2f5adab"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:I",
        "options": {}
      },
      "name": "Save Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        496,
        -1136
      ],
      "id": "a204177d-b14c-4837-8d76-5dbc03ae9be6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_tarea",
              "value": "={{ 'T-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "titulo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).titulo }}"
            },
            {
              "name": "prioridad",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).prioridad }}"
            },
            {
              "name": "fecha_objetivo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).fecha_objetivo }}"
            },
            {
              "name": "creado_por",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Tarea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        336,
        800
      ],
      "id": "8f617902-34b7-47e6-aa4b-851c901dd339"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "TAREAS!A:F",
        "options": {}
      },
      "name": "Save Tarea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        512,
        800
      ],
      "id": "4c42fc9c-7af2-4fb0-9e83-c39438efbb56",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_habito",
              "value": "={{ 'H-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).nombre }}"
            },
            {
              "name": "frecuencia",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).frecuencia }}"
            },
            {
              "name": "hora_recordatorio",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).hora_recordatorio }}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Habito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        336,
        1184
      ],
      "id": "567be880-37c1-4e0f-ab19-222f23db5967"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "HABITOS!A:E",
        "options": {}
      },
      "name": "Save Habito",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        512,
        1184
      ],
      "id": "5b95dc21-1848-4965-91f3-c4349e5b144c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_lista",
              "value": "={{ 'L-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "nombre_lista",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).nombre_lista }}"
            },
            {
              "name": "tipo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).tipo }}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Lista",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        336,
        1824
      ],
      "id": "14ba5fa4-da6e-441e-9981-964dacf7adfd"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "LISTAS!A:D",
        "options": {}
      },
      "name": "Save Lista",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        512,
        1824
      ],
      "id": "1aad7727-8444-4610-952e-cbd0191ac24e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2fbc98b-b518-4097-9b4a-9f35105e939b",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_CITA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        -1120
      ],
      "id": "05a4ff1d-fb69-49da-92fe-cb686867ebda",
      "name": "If"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_6"
            },
            {
              "name": "response_text",
              "value": "\n¿Qué deseas hacer?\n1. Confirmar y guardar\n2. Editar información\n3. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"canal\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Confirmacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -992
      ],
      "id": "a0f80352-dcf6-4452-9c96-7101a18b2b09"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_5"
            },
            {
              "name": "response_text",
              "value": "Paso 5 de 6\n\n¿Cómo será la atención?\n\n1. Presencial\n2. Virtual\n3. Llamada\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"motivo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Canal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -848
      ],
      "id": "6ec0463a-fbf1-40f9-8338-1daa855d98b0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "330d5917-8004-4e5f-8d77-d004fa625b01",
              "leftValue": "={{ (() => {\n  const zone = 'America/Bogota';\n  const raw0 = (($json.msg ?? '') + '').trim();\n  if (!raw0) return false;\n  if (raw0 === '9') return false;\n\n  // Accept YYYY-MM-DD and also YYYY-M-D (we normalize to zero-padded)\n  const m = raw0.match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})$/);\n  if (!m) return false;\n\n  const y = Number(m[1]);\n  const mo = Number(m[2]);\n  const d = Number(m[3]);\n  if (mo < 1 || mo > 12 || d < 1 || d > 31) return false;\n\n  const raw = `${m[1]}-${String(mo).padStart(2,'0')}-${String(d).padStart(2,'0')}`;\n  const today = $now.setZone(zone).toFormat('yyyy-LL-dd');\n\n  // Lexicographic compare works for ISO dates\n  return raw >= today;\n})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "55168fdd-2358-4174-b856-d7ddf8ad23aa",
              "leftValue": "={{ (()=>{ \n          const msg = ($json.msg || \"\").toString().trim();\n          if (msg === '9') return 'CANCELAR';\n          if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(msg)) return 'FORMATO_INVALIDO';\n          \n          const fechaUsuario = new Date(msg + 'T00:00:00');\n          const hoy = new Date();\n          hoy.setHours(0, 0, 0, 0);\n\n          return (fechaUsuario >= hoy) ? 'FECHA_VALIDA' : 'FECHA_PASADA';\n        })() }}",
              "rightValue": "=FECHA_VALIDA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        -1232
      ],
      "id": "41ea20d8-32ca-4dfd-897b-761d1dbf8aa0",
      "name": "FechaInvalida"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9' ? 'MENU_AGENDA' : 'CITA_PASO_1' }}"
            },
            {
              "name": "response_text",
              "value": "={{ (() => {\n  const zone = 'America/Bogota';\n  const raw = (($json.msg ?? $node[\"Init Variables\"].json.msg) || '').trim();\n  const today = $now.setZone(zone).toFormat('yyyy-LL-dd');\n\n  if (raw === '9') {\n    return `Cancelado ✅\\n\\nVolviendo a Agenda...`;\n  }\n\n  return `Ups, esa fecha no es válida o ya pasó.\\n\\nHoy es: ${today}\\nFormato: YYYY-MM-DD (ej: ${today})\\n\\nVuelve a escribir la fecha.\\n9. Cancelar`;\n})() }}\n"
            },
            {
              "name": "datos_parciales",
              "value": "={{ $node[\"Init Variables\"].json.datos_previos_str || '{}' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Fecha confirmacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -208,
        -1216
      ],
      "id": "2ff9e7c7-845e-4942-92dc-9ed77e737852"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eedaac33-5c37-4350-9494-8842326c97a1",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_TAREA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        816
      ],
      "id": "61ca9b41-dca4-49ba-ac8b-f3a83256ea0f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "669ce903-f2f7-4c0c-9117-e327f7059fd0",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_HABITO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        1200
      ],
      "id": "46693aee-ab34-4cc2-a5fc-4a100ca3b543",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4809656-c6fb-4348-a34a-b7ae0560280b",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_LISTA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        1840
      ],
      "id": "3d9fa1e5-e042-4280-ac99-093ebd7d343a",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c77ebef4-b1ba-427d-86a0-caa1807b0a50",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_USER",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        -464
      ],
      "id": "16792fa9-a8b7-486b-a52a-4dd1c0294027",
      "name": "If4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "USUARIOS!A:D",
        "lookupColumn": "telegram_user",
        "lookupValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"].toString() }}",
        "options": {}
      },
      "name": "Check User Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -1504,
        1584
      ],
      "id": "886496a6-0d06-4df3-a5c1-6e00f8f76a54",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "SESSIONS!A:E",
        "lookupColumn": "telegram_user",
        "lookupValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"].toString() }}",
        "options": {}
      },
      "name": "Check Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -1648,
        1584
      ],
      "id": "29dba1dd-8535-4226-9c52-1dfc0abdf14e",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_RECORDATORIOS"
            },
            {
              "name": "response_text",
              "value": "🔔 Menú Recordatorios (Beta)\\n\\n1. Crear nuevo recordatorio\\n2. Ver activos\\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Recordatorios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2096
      ],
      "id": "65f57c0f-9027-4399-ba39-095bcbc0c5e6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_REPORTES"
            },
            {
              "name": "response_text",
              "value": "📊 Menú Reportes  \n\n1. Resumen semanal \n2. Exportar datos \n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Reportes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2224
      ],
      "id": "10759a98-f5b5-4bc8-9ef4-7e93ba5920fe"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_CONFIG"
            },
            {
              "name": "response_text",
              "value": "⚙️ Configuración\n1. Ver Perfil\n2. Reiniciar Bot\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Configuracion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2352
      ],
      "id": "6c1414c8-1b3b-4bcd-9cbe-c3a54dc2e624"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_ADMIN"
            },
            {
              "name": "response_text",
              "value": "🔒 Panel de Administrador\\n\\nAcceso restringido.\\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Admin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2480
      ],
      "id": "c160503a-fdec-4eb6-a34c-3b4f8af5ee3b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_AYUDA"
            },
            {
              "name": "response_text",
              "value": "ℹ️ Ayuda AgendaBot\\n\\nNavega escribiendo los números del menú.\\nSi te trabas, escribe /start.\\n\\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ayuda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2608
      ],
      "id": "b44e48e2-47bb-4f4e-bb17-7e0f4a2c5d7d"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "TAREA_PASO_3",
              "output": "={{ 0 }}"
            },
            {
              "value2": "HABITO_PASO_1",
              "output": "={{ 1 }}"
            },
            {
              "value2": "HABITO_PASO_2",
              "output": "={{ 2 }}"
            },
            {
              "value2": "HABITO_PASO_3",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        1712
      ],
      "id": "015fa53a-1119-4781-804c-78d4e082259a"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "LISTA_PASO_1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "LISTA_PASO_2",
              "output": "={{ 1 }}"
            },
            {
              "value2": "MENU_RECORDATORIOS",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_REPORTES",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router5",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        1904
      ],
      "id": "8b446586-5791-4526-8fd3-3d8ba4b9ed9e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "3",
              "output": "={{ 0 }}"
            },
            {
              "value2": "6",
              "output": "={{ 1 }}"
            },
            {
              "value2": "7",
              "output": "={{ 2 }}"
            },
            {
              "value2": "9",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Switch: Menu P.1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -544,
        1200
      ],
      "id": "1fd8ec2d-e930-4ee3-92f0-ab16a2b9ae34"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response_text",
              "value": "Ups, esa opción no parece correcta. 🤔\nPor favor, escribe solo uno de los números que ves en el menú de arriba"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            }
          ]
        },
        "options": {}
      },
      "name": "Opcion Invalida",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        256,
        352
      ],
      "id": "0bb200dd-2237-479d-974d-190d0db27813"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "regex",
              "value2": "^[0-8]$",
              "output": "={{ 0 }}"
            },
            {
              "operation": "notRegex",
              "value2": "^[0-8]$",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Validador Menu",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -832,
        992
      ],
      "id": "5e91773e-f84f-410a-b78c-80e1ffdb431a"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_EDITAR_SELECCION"
            },
            {
              "name": "response_text",
              "value": "Un momento, estoy buscando tus citas..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Reprogramar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2864
      ],
      "id": "0c8d7012-2bae-4ed7-a27e-98ea6f99286e"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_CANCELAR_ID"
            },
            {
              "name": "response_text",
              "value": "🗑️ Entendido, cancelemos una cita.\\n\\nEscribe la **FECHA** (YYYY-MM-DD) de la cita que quieres cancelar."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2992
      ],
      "id": "f30c801d-d1d2-401c-b823-67cf2336be38"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_COMPLETAR_ID"
            },
            {
              "name": "response_text",
              "value": "✅ ¡Excelente! Tarea cumplida.\\n\\nEscribe la **FECHA** (YYYY-MM-DD) de la cita que ya realizaste."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Completar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3120
      ],
      "id": "2877a17f-13aa-4957-a8a6-89444dc65bd2"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "4",
              "output": "={{ 0 }}"
            },
            {
              "value2": "5",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Sw: Agenda1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        1632
      ],
      "id": "2dd6419a-97b9-42cc-ba61-a44c1800422a"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:I",
        "options": {}
      },
      "name": "Consulta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        224,
        2736
      ],
      "id": "6ebb5f13-03e4-430e-b0ed-45140a70dd41",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "REC_PASO_1"
            },
            {
              "name": "response_text",
              "value": "🔔 Nuevo Recordatorio:\n¿Qué quieres recordar? (Escribe el mensaje)"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Recordatorio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3392
      ],
      "id": "e6f89107-324d-486f-bf7c-31f2e94eae30"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "📊 Generando reporte semanal... \n\n✅ Tareas completadas: 5 \n✅ Citas asistidas: 2"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Reporte",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3776
      ],
      "id": "cbd5aad8-2319-4fa8-a0a3-104bf3f0f19b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CONF_PASO_1"
            },
            {
              "name": "response_text",
              "value": "⚙️ Configuración: Tu nombre actual es . \nEscribe el nuevo nombre si deseas cambiarlo, o 9 para salir.\n\n"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3904
      ],
      "id": "7b79ffb1-867b-4bec-b7f9-bf49ea8679c1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "🔒 Acceso Denegado. \nNo tienes permisos de administrador."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Admin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        4032
      ],
      "id": "0745bc9d-b5b7-4196-916d-8755c7a24732"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos TU identidad (aseguramos que sea texto para comparar)\nconst miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\n// 2. FILTRADO MANUAL:\nconst misCitas = items.filter(fila => {\n    // PROTECCIÓN: Usamos (valor || \"\") para evitar errores si la celda está vacía\n    const creador = (fila.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (fila.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    \n    // Comparamos\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\n// 3. GENERAR MENSAJE\nlet mensaje = \"📅 *Tu Agenda Pendiente:*\\n\\n\";\n\nif (misCitas.length === 0) {\n    mensaje += \"Relax 🏖️. No tienes nada pendiente por ahora.\";\n} else {\n    misCitas.forEach((cita, index) => {\n        // Datos seguros por si faltan en el Excel\n        const fecha = cita.json[\"fecha\"] || \"Sin fecha\";\n        const hora = cita.json[\"hora\"] || \"--:--\";\n        const motivo = cita.json[\"motivo\"] || \"Sin motivo\";\n        \n        mensaje += `${index + 1}. *${fecha}* a las ${hora}\\n   📝 ${motivo}\\n\\n`;\n    });\n}\n\n// 4. ENTREGAR RESULTADO\nreturn [{\n    json: {\n        response_text: mensaje,\n        next_pantalla: \"MENU_AGENDA\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        2736
      ],
      "id": "91a81ade-b05c-41ba-a780-d0078673f55f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Recordatorios",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        1824
      ],
      "id": "115ada09-013c-47ce-bc6c-711ebf5283bc"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "AGENDA_EDITAR_ID",
              "output": "={{ 0 }}"
            },
            {
              "value2": "AGENDA_COMPLETAR_ID",
              "output": "={{ 1 }}"
            },
            {
              "value2": "AGENDA_CANCELAR_ID",
              "output": "={{ 2 }}"
            },
            {
              "value2": "AGENDA_EDITAR_FINAL",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        2096
      ],
      "id": "d5748ff0-345b-4814-b87e-a2db95c7022b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_EDITAR_FINAL"
            },
            {
              "name": "response_text",
              "value": "🗓️ Cita encontrada. ¿Para qué fecha la reprogramamos? (YYYY-MM-DD)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_vieja\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Reprogramar Solicitar Nueva Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3248
      ],
      "id": "62a39d19-9cdb-494d-87dc-4ba48f3f160e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "=^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Reportes",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        2016
      ],
      "id": "f90aa9c1-cbd9-441e-8c79-3d0b61bbd6f2"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Config",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        2208
      ],
      "id": "62fdbd28-391e-4f2c-a4ec-720520a8b4c6"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Admin",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -736,
        2400
      ],
      "id": "e107f4df-e904-444d-be5e-65470b5418c3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "key": "=id_cita",
        "options": {}
      },
      "name": "Update: Cancelar Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -144,
        3520
      ],
      "id": "dda3501e-815a-4d97-9b69-3bc566730858",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "🚧 Función en construcción 🚧"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "En Construccion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        256,
        480
      ],
      "id": "016d7f80-5c48-4024-bd1e-9404ea8f9794"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_CANCELAR_SELECCION"
            },
            {
              "name": "response_text",
              "value": "Un momento, estoy buscando tus citas..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Fin Cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3520
      ],
      "id": "bfb2e6f3-91b2-4655-bc73-6c186946ca61"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "key": "=id_cita",
        "options": {}
      },
      "name": "Update: Completar Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -160,
        3648
      ],
      "id": "b81d41f4-f96c-4137-a86a-891440b15149",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_cita",
              "value": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).citas_encontradas[parseInt($node[\"Init Variables\"].json[\"msg\"]) - 1].id_cita }}"
            },
            {
              "name": "estado",
              "value": "COMPLETADA"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Completar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -400,
        3648
      ],
      "id": "39f39a60-96a6-47f1-a106-a8bbe2fd0678"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fecha",
              "value": "{{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"] || '{}').fecha_vieja }}"
            },
            {
              "name": "estado",
              "value": "REPROGRAMADA"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_vieja\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Reprogramacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        352,
        3232
      ],
      "id": "2bdc05b3-5451-4af0-8295-5bff17cd76c2"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fecha",
              "value": "{{ $node[\"Init Variables\"].json[\"msg\"] }}"
            },
            {
              "name": "hora",
              "value": "00:00"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_vieja\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).nombre }}"
            },
            {
              "name": "motivo",
              "value": "Reprogramación"
            },
            {
              "name": "estado",
              "value": "PENDIENTE"
            },
            {
              "name": "creado_por",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Nueva Cita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        784,
        3232
      ],
      "id": "d4481704-70a5-4c00-98b3-f0a3c49cc6e0"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "response_text",
              "value": "=✅ Cita reprogramada con éxito para el {{ $node[\"Init Variables\"].json[\"msg\"] }}."
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Fin Reprogramar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1072,
        3232
      ],
      "id": "08d23f72-0e6d-4ec0-a247-8f11844bf176"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "options": {}
      },
      "name": "Save Cita1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        928,
        3232
      ],
      "id": "5b0a0194-a07f-4cc3-9239-97536c8aa39d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c77ebef4-b1ba-427d-86a0-caa1807b0a50",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_CITA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        3248
      ],
      "id": "7e4c4acc-110e-4d80-8e9c-579ac4ff5921",
      "name": "If5"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "MENU_CONFIG",
              "output": "={{ 0 }}"
            },
            {
              "value2": "MENU_ADMIN",
              "output": "={{ 1 }}"
            },
            {
              "value2": "AGENDA_EDITAR_ELEGIDA",
              "output": "={{ 2 }}"
            },
            {
              "value2": "AGENDA_CANCELAR_ELEGIDA",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router7",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        2288
      ],
      "id": "662159d2-d167-491d-927c-be8de224006b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_AGENDA"
            },
            {
              "name": "response_text",
              "value": "🔍 Buscando tus citas pendientes, un momento..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "READ_AGENDA"
            }
          ]
        },
        "options": {}
      },
      "name": "Citas consultar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        2736
      ],
      "id": "f8972ac9-6298-475b-9dfb-e661ed82b840"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:I",
        "options": {}
      },
      "name": "Consulta1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        224,
        2864
      ],
      "id": "94dad629-38c4-4598-9667-e337fb029f48",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener el ID del usuario actual\nconst miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\n// 2. Filtrar solo las citas del usuario que estén PENDIENTES\nconst misCitas = items.filter(item => {\n    const creador = (item.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (item.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\n// 3. Si no hay citas, avisar\nif (misCitas.length === 0) {\n    return [{ json: { \n        response_text: \"No tienes citas pendientes para reprogramar. 🏖️\", \n        next_pantalla: \"MENU_AGENDA\",\n        datos_parciales: \"{}\" \n    }}];\n}\n\n// 4. Generar el mensaje con la lista numerada\nlet mensaje = \"🗓️ *Elige la cita que quieres REPROGRAMAR:* \\n\\n\";\nmisCitas.forEach((cita, index) => {\n    mensaje += `${index + 1}. ${cita.json.fecha} - ${cita.json.motivo}\\n`;\n});\nmensaje += \"\\nEscribe el número de la opción.\";\n\n// 5. Guardar las citas encontradas en memoria para poder sacar el ID después\nconst datosParciales = { citas_encontradas: misCitas.map(c => c.json) };\n\nreturn [{ json: { \n    response_text: mensaje, \n    next_pantalla: \"AGENDA_EDITAR_ELEGIDA\",\n    datos_parciales: JSON.stringify(datosParciales) \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        2864
      ],
      "id": "800aaed7-34df-4c26-9eaa-a2d52c60546b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_EDITAR_FINAL"
            },
            {
              "name": "response_text",
              "value": "Entendido. ¿Cuál es la NUEVA fecha? (YYYY-MM-DD)"
            },
            {
              "name": "datos_parciales",
              "value": "={{\n(() => {\n  const datos = JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"] || '{}');\n  const eleccion = parseInt($node[\"Init Variables\"].json[\"msg\"], 10) - 1;\n\n  if (datos.citas_encontradas && datos.citas_encontradas[eleccion]) {\n    datos.id_cita_a_editar = datos.citas_encontradas[eleccion].id_cita;\n  }\n  \n  return JSON.stringify(datos);\n})()\n}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Solicitar Nueva Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        4160
      ],
      "id": "b5d643e8-1813-4a3d-8449-cae0c20fa918"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_COMPLETAR_SELECCION"
            },
            {
              "name": "response_text",
              "value": "Un momento, estoy buscando tus citas..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Fin Completar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        3648
      ],
      "id": "de733db9-3cc7-4ae8-aae1-e871e698bb59"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "options": {}
      },
      "name": "Consulta2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        192,
        3520
      ],
      "id": "a7b666f0-0a19-443c-8ee6-9959b7b9e7da",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\nconst misCitas = items.filter(item => {\n    const creador = (item.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (item.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\nif (misCitas.length === 0) {\n    return [{ json: { \n        response_text: \"No tienes citas que se puedan cancelar. 🏜️\", \n        next_pantalla: \"MENU_AGENDA\",\n        datos_parciales: \"{}\" \n    }}];\n}\n\nlet mensaje = \"🗑️ *Elige la cita que quieres CANCELAR:* \\n\\n\";\nmisCitas.forEach((cita, index) => {\n    mensaje += `${index + 1}. ${cita.json.fecha} - ${cita.json.motivo}\\n`;\n});\nmensaje += \"\\nEscribe el número de la cita.\";\n\nconst datosParciales = { citas_encontradas: misCitas.map(c => c.json) };\n\nreturn [{ json: { \n    response_text: mensaje, \n    next_pantalla: \"AGENDA_CANCELAR_ELEGIDA\",\n    datos_parciales: JSON.stringify(datosParciales) \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        3520
      ],
      "id": "a642b095-52a2-4803-82f4-9d18222505da",
      "name": "Code Cancelar"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "options": {}
      },
      "name": "Consulta3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        192,
        3648
      ],
      "id": "a2fb49e9-a094-415c-9a24-75231809354a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\nconst misCitas = items.filter(item => {\n    const creador = (item.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (item.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\nif (misCitas.length === 0) {\n    return [{ json: { \n        response_text: \"No tienes citas pendientes para completar. ✅\", \n        next_pantalla: \"MENU_AGENDA\",\n        datos_parciales: \"{}\" \n    }}];\n}\n\nlet mensaje = \"✅ *Elige la cita que ya realizaste:* \\n\\n\";\nmisCitas.forEach((cita, index) => {\n    mensaje += `${index + 1}. ${cita.json.fecha} - ${cita.json.motivo}\\n`;\n});\nmensaje += \"\\nEscribe el número de la cita.\";\n\nconst datosParciales = { citas_encontradas: misCitas.map(c => c.json) };\n\nreturn [{ json: { \n    response_text: mensaje, \n    next_pantalla: \"AGENDA_COMPLETAR_ELEGIDA\",\n    datos_parciales: JSON.stringify(datosParciales) \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        3648
      ],
      "id": "3480003a-77db-4ae5-8389-adb98a1fe6ee",
      "name": "Code Cancelar1"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "AGENDA_COMPLETAR_ELEGIDA",
              "output": "={{ 0 }}"
            }
          ]
        }
      },
      "name": "Master Router8",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1008,
        2480
      ],
      "id": "c313ae0f-94cb-4cfa-935b-c3ca44908330"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_cita",
              "value": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).citas_encontradas[parseInt($node[\"Init Variables\"].json[\"msg\"]) - 1].id_cita }}"
            },
            {
              "name": "estado",
              "value": "CANCELADA"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -448,
        3520
      ],
      "id": "fc17bd70-7695-4635-929c-54e6ddbed727"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "lookupColumn": "id_cita",
        "lookupValue": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).id_cita_a_editar }}",
        "options": {}
      },
      "name": "Get Cita Vieja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        496,
        3232
      ],
      "id": "a7de19f6-c043-4688-89ca-4749bf2794a0",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "delete",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "toDelete": {
          "rows": [
            {
              "sheetId": 0
            }
          ]
        }
      },
      "name": "Delete Cita Vieja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        640,
        3232
      ],
      "id": "8e4c114a-7c90-494f-a01f-956a033c264d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "lookupColumn": "fecha",
        "lookupValue": "={{ $node[\"Init Variables\"].json[\"msg\"] }}",
        "options": {}
      },
      "name": "Lookup Cancelar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -304,
        3520
      ],
      "id": "cdc18809-513a-4664-854c-e1895e992da5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Variables": {
      "main": [
        [
          {
            "node": "Master Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router": {
      "main": [
        [
          {
            "node": "P0: New User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "P0: Save User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "P1: Inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validador Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P0: New User": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P0: Save User": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1: Inicio": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Menu P.": {
      "main": [
        [
          {
            "node": "Ir a Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ir a Tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ir a Habitos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ir a Listas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Agenda": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Tareas": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Habitos": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Listas": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Otros": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Agenda": {
      "main": [
        [
          {
            "node": "Start Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Citas consultar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Reprogramar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Cita": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Volver": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Fecha": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Hora": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Nombre": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Fin": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Tareas": {
      "main": [
        [
          {
            "node": "Start Tarea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Start Tarea": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarea: Titulo": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarea: Prioridad": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarea: Fin": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Habitos": {
      "main": [
        [
          {
            "node": "Start Habito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Habito": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hab: Nombre": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hab: Freq": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hab: Fin": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Listas": {
      "main": [
        [
          {
            "node": "Start Lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Lista": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista: Nombre": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista: Fin": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Updates": {
      "main": [
        [
          {
            "node": "Format Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fields": {
      "main": [
        [
          {
            "node": "Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router1": {
      "main": [
        [
          {
            "node": "Sw: Agenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sw: Agenda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Habitos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Listas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router2": {
      "main": [
        [
          {
            "node": "FechaInvalida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Hora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Nombre",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch: Menu P.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router3": {
      "main": [
        [
          {
            "node": "Cita: Confirmacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarea: Titulo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarea: Prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: User": {
      "main": [
        [
          {
            "node": "Save User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Cita": {
      "main": [
        [
          {
            "node": "Save Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Tarea": {
      "main": [
        [
          {
            "node": "Save Tarea",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Habito": {
      "main": [
        [
          {
            "node": "Save Habito",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Lista": {
      "main": [
        [
          {
            "node": "Save Lista",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cita": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Map: Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Confirmacion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Canal": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FechaInvalida": {
      "main": [
        [
          {
            "node": "Cita: Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Fecha confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Fecha confirmacion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Map: Tarea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Map: Habito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Map: Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Map: User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Profile": {
      "main": [
        [
          {
            "node": "Init Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session": {
      "main": [
        [
          {
            "node": "Check User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router4": {
      "main": [
        [
          {
            "node": "Tarea: Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hab: Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hab: Freq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hab: Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reportes": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router5": {
      "main": [
        [
          {
            "node": "Lista: Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lista: Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Recordatorios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Menu P.1": {
      "main": [
        [
          {
            "node": "Recordatorios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recordatorios": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validador Menu": {
      "main": [
        [
          {
            "node": "Switch: Menu P.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch: Menu P.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcion Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opcion Invalida": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Agenda1": {
      "main": [
        [
          {
            "node": "Start Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Completar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router6": {
      "main": [
        [
          {
            "node": "Reprogramar Solicitar Nueva Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Completar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Reprogramacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Recordatorios": {
      "main": [
        [
          {
            "node": "Start Recordatorio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reprogramar Solicitar Nueva Fecha": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Reportes": {
      "main": [
        [
          {
            "node": "Start Reporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Config": {
      "main": [
        [
          {
            "node": "Start Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Admin": {
      "main": [
        [
          {
            "node": "Start Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Cancelar Cita": {
      "main": [
        [
          {
            "node": "Fin Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Cancelar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Completar Cita": {
      "main": [
        [
          {
            "node": "Fin Completar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Completar": {
      "main": [
        [
          {
            "node": "Update: Completar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Reprogramacion": {
      "main": [
        [
          {
            "node": "Get Cita Vieja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Nueva Cita": {
      "main": [
        [
          {
            "node": "Save Cita1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Reprogramar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Preparar Reprogramacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router7": {
      "main": [
        [
          {
            "node": "Sw: Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar Nueva Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "En Construccion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cita1": {
      "main": [
        [
          {
            "node": "Fin Reprogramar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Reprogramar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Cancelar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Completar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Recordatorio": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Reporte": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Config": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Admin": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citas consultar": {
      "main": [
        [
          {
            "node": "Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitar Nueva Fecha": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Completar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta2": {
      "main": [
        [
          {
            "node": "Code Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Cancelar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta3": {
      "main": [
        [
          {
            "node": "Code Cancelar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Cancelar1": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Cancelar": {
      "main": [
        [
          {
            "node": "Lookup Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router8": {
      "main": [
        [
          {
            "node": "Preparar Completar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cita Vieja": {
      "main": [
        [
          {
            "node": "Delete Cita Vieja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cita Vieja": {
      "main": [
        [
          {
            "node": "Preparar Nueva Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Cancelar": {
      "main": [
        [
          {
            "node": "Update: Cancelar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ab87785b-bd76-40c6-b90c-62232070a30a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0a4a578bf5b2debe4fff6b4edb7dae8d3bd63a2e6298bf74a79da157f01cf66"
  },
  "id": "wDP2F_NJsMTBsaW1Pk4ZZ",
  "tags": []
}