6.1 (1).json
{
  "name": "6.1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        64,
        8640
      ],
      "id": "31d53d2b-0725-4f02-8fee-527295f0473a",
      "webhookId": "2b54e487-fe60-42fb-b1d8-b0d5c2a5518d",
      "credentials": {
        "telegramApi": {
          "id": "F4NHNYaRZJLeZHOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "msg",
              "value": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"].toString()}}"
            },
            {
              "name": "telegram_user",
              "value": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"].toString()}}"
            },
            {
              "name": "pantalla_actual",
              "value": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] == '/start' ? ($node[\"Check User Profile\"].json[\"nombre\"] ? 'INICIO' : 'NO_REGISTRADO') : ($node[\"Check Session\"].json[\"pantalla_actual\"] ? $node[\"Check Session\"].json[\"pantalla_actual\"] : ($node[\"Check User Profile\"].json[\"nombre\"] ? 'INICIO' : 'NO_REGISTRADO')) }}"
            },
            {
              "name": "datos_previos_str",
              "value": "={{ $node[\"Check Session\"].json[\"datos_parciales\"] || '{}' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Init Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        544,
        8640
      ],
      "id": "84012bc0-c3cd-4dcb-893d-5db9214cb771"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "REGISTRO_NOMBRE"
            },
            {
              "name": "response_text",
              "value": "¡Hola! 👋 Veo que eres nuevo.\nPara empezar a Usar tu agenda Empecemos con:\n\n¿Cuál es tu nombre?"
            }
          ]
        },
        "options": {}
      },
      "name": "P0: New User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6592
      ],
      "id": "4fed4653-0afb-4acc-9d3e-5efd019702b5"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "¡Registrado! ✅  \nMenú principal:\n\n0. Ayuda \n1. Agenda (citas)\n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify({ \"nombre_user\": $node[\"Init Variables\"].json[\"msg\"] }) }}"
            },
            {
              "name": "action_flag",
              "value": "SAVE_USER"
            }
          ]
        },
        "options": {}
      },
      "name": "P0: Save User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6720
      ],
      "id": "ecb74d15-67b2-4fd7-8863-94f7dbf61b40"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Hola, soy AgendaBot 👋 \nEstoy aquí para ayudarte a organizar tus citas, tareas y recordatorios de forma sencilla y sin complicaciones.  \nPuedes escribirme en cualquier momento. Para avanzar, solo tienes que escribir el número de la opción que quieras usar.  \n\nMenú principal: \n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración\n8. Administrador  \n\nTip rápido: escribe solo el número (por ejemplo: 1) y presiona enviar."
            }
          ]
        },
        "options": {}
      },
      "name": "P1: Inicio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6848
      ],
      "id": "2956a278-6882-418a-a6d7-cfb4f0ffef52"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "2",
              "output": "={{ 1 }}"
            },
            {
              "value2": "4",
              "output": "={{ 2 }}"
            },
            {
              "value2": "5",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Switch: Menu P.",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1488,
        7904
      ],
      "id": "5b6247ff-5d18-4a55-af01-64ed603078f7"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_AGENDA"
            },
            {
              "name": "response_text",
              "value": "🗓️ Perfecto, vamos con tu agenda.\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva cita\n2. Consultar tu agenda\n3. Reprogramar una cita\n4. Cancelar una cita\n5. Marcar una cita como completada\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Agenda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6976
      ],
      "id": "aeb34e44-cde5-442e-801d-bd6f26d007cb"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_TAREAS"
            },
            {
              "name": "response_text",
              "value": "Perfecto, vamos con tu Tareas.\n\n¿Qué deseas hacer?\n\n1. Crear una nueva tarea\n2. Consultar tus tareas\n3. Actualizar una tarea\n4. Borrar una tarea\n5. Marcar una tarea como completada\n9. Volver al menú principal$"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Tareas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7104
      ],
      "id": "90dd72af-ae6f-48b8-81b0-51600d1e7b5b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_HABITOS"
            },
            {
              "name": "response_text",
              "value": "Perfecto, vamos con tus Habitos.\n\n¿Qué deseas hacer?\n\n1. Crear un nueva Habito\n2. Consultar tus Habitos\n3. Cambiar un Habito\n4. Borrar un Habito\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Habitos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7232
      ],
      "id": "661f943f-2a38-4200-b9df-5c3bb6a3e25d"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_LISTAS"
            },
            {
              "name": "response_text",
              "value": "Perfecto, vamos con tus Listas\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva Lista\n2. Consultar tus Listas\n3. Borrar una Lista\n4. Actualizar Lista\n9. Volver al menú principal"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ir a Listas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7360
      ],
      "id": "afdcb544-7ea6-4263-ad7f-f6219b83e778"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "value2": "2",
              "output": "={{ 2 }}"
            },
            {
              "value2": "3",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Sw: Agenda",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        8496
      ],
      "id": "6ba467f3-1a38-4193-b42b-0f6a8cf421a6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Empecemos a crear tu cita.\n\nPaso 1 de 6\n¿Cuál es la fecha de la cita?\n\nFormato: YYYY-MM-DD\nEjemplo: 2025-12-20\n\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Cita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7488
      ],
      "id": "078edf55-b122-45b0-a989-4be710c87193"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Global Volver",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2112,
        7280
      ],
      "id": "c3ce6b64-2bff-421d-b0d3-bad5c75c8775"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9' ? 'MENU_AGENDA' : 'CITA_PASO_2' }}"
            },
            {
              "name": "response_text",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9'\n  ? `🗓️ Perfecto, vamos con tu agenda.\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva cita\n2. Consultar tu agenda\n3. Reprogramar una cita\n4. Cancelar una cita\n5. Marcar una cita como completada\n9. Volver al menú principal`\n  : `Paso 2 de 6\n\n¿A qué hora será la cita?\n\nFormato 24 horas (HH:MM)\nEjemplo: 14:30\n\n9. Cancelar`\n}}\n"
            },
            {
              "name": "datos_parciales",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9' ? '{}' : JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json.datos_previos_str || '{}'), { fecha: $node[\"Init Variables\"].json.msg })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        5936
      ],
      "id": "07313fcf-0775-4495-911e-93ad9e793a1c"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_3"
            },
            {
              "name": "response_text",
              "value": "Paso 3 de 6\n\n¿A nombre de quién es la cita?\n\nEscribe el nombre completo.\n\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"hora\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Hora",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6464
      ],
      "id": "6d169959-4ce6-4d25-b0d1-026348dacc2c"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_4"
            },
            {
              "name": "response_text",
              "value": "Paso 4 de 6\n\nCuéntame brevemente el motivo de la cita.\n\nEjemplo: Asesoría técnica\n\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"nombre\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Nombre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7616
      ],
      "id": "4f66e10c-6d60-47a6-bd94-3f6a8acc3c46"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "={{ $node[\"Init Variables\"].json[\"msg\"] == '1' ? `✅ ¡Cita guardada correctamente!\n\n¿Qué deseas hacer ahora?\n\n0. Ayuda\n1. Agenda (citas)\n2. Tareas\n3. Recordatorios\n4. Hábitos\n5. Listas\n6. Reportes\n7. Configuración\n8. Administrador` : 'Cancelado' }}"
            },
            {
              "name": "action_flag",
              "value": "={{ $node[\"Init Variables\"].json[\"msg\"] == '1' ? 'SAVE_CITA' : 'NONE' }}"
            },
            {
              "name": "datos_parciales",
              "value": "={{$node[\"Init Variables\"].json[\"datos_previos_str\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6064
      ],
      "id": "9d958653-85de-4061-a1ea-5eafd9224a16"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": " ^[5-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Tareas",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        9840
      ],
      "id": "b18452df-fd6e-4b37-97e9-7b36cde9e4bf"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "TAREA_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Nueva Tarea: Titulo?"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Tarea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7744
      ],
      "id": "817a0417-0164-4d8f-b29f-2875aa1dfdc2"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "TAREA_PASO_2"
            },
            {
              "name": "response_text",
              "value": "Prioridad? (Alta/Media)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"titulo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Tarea: Titulo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8640
      ],
      "id": "ea9db61b-bcf1-4d7a-98c6-886b8eecb9aa"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "TAREA_PASO_3"
            },
            {
              "name": "response_text",
              "value": "Fecha? (YYYY-MM-DD)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"prioridad\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Tarea: Prioridad",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8000
      ],
      "id": "e8ac0705-e47a-47cb-bdec-8253dd1f16d6"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Tarea Guardada ✅\n🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "action_flag",
              "value": "SAVE_TAREA"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_objetivo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Tarea: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        7872
      ],
      "id": "74f32363-94be-4678-a0b2-83932d488f5f"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Sw: Habitos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        8304
      ],
      "id": "71b82b0e-e669-42b9-b610-c5719e2237a1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "HABITO_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Nuevo Hábito: Nombre?"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Habito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8128
      ],
      "id": "d5f44e6d-3401-44fa-aade-181ecd2abeeb"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "HABITO_PASO_2"
            },
            {
              "name": "response_text",
              "value": "Frecuencia? (Diaria/Semanal)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"nombre\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Hab: Nombre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9024
      ],
      "id": "025dd75c-7c0b-433c-957f-1ab1d514fd96"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "HABITO_PASO_3"
            },
            {
              "name": "response_text",
              "value": "Hora? (HH:MM)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"frecuencia\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Hab: Freq",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8512
      ],
      "id": "c851e124-36af-44de-86bc-c154e9966d09"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Hábito Guardado ✅\n🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "action_flag",
              "value": "SAVE_HABITO"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"hora_recordatorio\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Hab: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8256
      ],
      "id": "bdc9e5b9-0a63-4747-9de3-1d7edd1742be"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "value2": "3",
              "output": "={{ 2 }}"
            },
            {
              "value2": "4",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Sw: Listas",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        9648
      ],
      "id": "b0fd4345-fa88-4c43-8bb6-22eb85115d87"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "LISTA_PASO_1"
            },
            {
              "name": "response_text",
              "value": "Nueva Lista: Nombre?"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Lista",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8384
      ],
      "id": "6a85033e-0321-45d3-a4c5-fb0dfa597749"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "LISTA_PASO_2"
            },
            {
              "name": "response_text",
              "value": "Tipo?"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"nombre_lista\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Lista: Nombre",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8768
      ],
      "id": "b6c1fc78-59b1-46f2-a105-9d4cecb32a2d"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "Lista Creada ✅"
            },
            {
              "name": "action_flag",
              "value": "SAVE_LISTA"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"tipo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Lista: Fin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        8896
      ],
      "id": "ff07d22e-caaf-4e56-8a21-ccbaebd0a653"
    },
    {
      "parameters": {},
      "name": "Merge Updates",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        3056,
        8544
      ],
      "id": "5ac50a62-3e87-4130-9d16-b5f4f06e3956"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telegram_user",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            },
            {
              "name": "pantalla_actual",
              "value": "={{ $json[\"next_pantalla\"] }}"
            },
            {
              "name": "datos_parciales",
              "value": "={{ $json[\"datos_parciales\"] || '{}' }}"
            },
            {
              "name": "response_text",
              "value": "={{ $json[\"response_text\"] }}"
            },
            {
              "name": "action_flag",
              "value": "={{ $json[\"action_flag\"] || 'NONE' }}"
            },
            {
              "name": "paso_actual",
              "value": "={{ $json[\"next_pantalla\"] }}"
            },
            {
              "name": "timestamp_ultima_interaccion",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3216,
        8544
      ],
      "id": "4a81ab8f-c1bc-44d9-81b2-fab99ba999e6"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upsert",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "SESSIONS!A:E",
        "key": "telegram_user",
        "options": {}
      },
      "name": "Update Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        3440,
        8544
      ],
      "id": "e6e55a08-79b8-42b6-9820-685d047bb8e9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}",
        "text": "={{ $json[\"response_text\"] }}",
        "additionalFields": {}
      },
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3664,
        8544
      ],
      "id": "9a897fa1-a8d4-4abd-b531-7ef261a1ba1f",
      "webhookId": "7f684f5d-ea32-4199-84ae-d1a8dda734ea",
      "credentials": {
        "telegramApi": {
          "id": "F4NHNYaRZJLeZHOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "MENU_AGENDA",
              "output": "={{ 0 }}"
            },
            {
              "value2": "MENU_TAREAS",
              "output": "={{ 1 }}"
            },
            {
              "value2": "MENU_HABITOS",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_LISTAS",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        8192
      ],
      "id": "780bd8e6-1be1-41d3-adf6-db6dbdc00794"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "CITA_PASO_1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "CITA_PASO_2",
              "output": "={{ 1 }}"
            },
            {
              "value2": "CITA_PASO_3",
              "output": "={{ 2 }}"
            },
            {
              "value2": "CITA_PASO_4",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        8384
      ],
      "id": "961c2389-bf70-4e1f-8c31-7bc7e1bf2676"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "CITA_PASO_5",
              "output": "={{ 0 }}"
            },
            {
              "value2": "CITA_PASO_6",
              "output": "={{ 1 }}"
            },
            {
              "value2": "TAREA_PASO_1",
              "output": "={{ 2 }}"
            },
            {
              "value2": "TAREA_PASO_2",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        8576
      ],
      "id": "3d976dad-f470-47fa-92e8-19eb04981fd9"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telegram_user",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($json[\"datos_parciales\"])[\"nombre_user\"] }}"
            },
            {
              "name": "rol",
              "value": "user"
            },
            {
              "name": "permitido",
              "value": "TRUE"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Map: User",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2176,
        6704
      ],
      "id": "7695938e-c488-46ce-9fae-2a7157390dc3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "USUARIOS!A:D",
        "options": {}
      },
      "name": "Save User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2368,
        6704
      ],
      "id": "02ebe06d-b692-48ef-b1c2-684f46908eca",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_cita",
              "value": "={{ 'C-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "fecha",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).fecha }}"
            },
            {
              "name": "hora",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).hora }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).nombre }}"
            },
            {
              "name": "motivo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).motivo }}"
            },
            {
              "name": "canal",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).canal }}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "estado",
              "value": "PENDIENTE"
            },
            {
              "name": "creado_por",
              "value": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"] }}"
            },
            {
              "name": "timestamp_creacion",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Cita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2176,
        6048
      ],
      "id": "f98981dc-3ac9-4715-9c8e-19508bb552c6"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:I",
        "options": {}
      },
      "name": "Save Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2352,
        6048
      ],
      "id": "86637cc5-836e-406d-a479-e6651df7aed9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_tarea",
              "value": "={{ 'T-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "titulo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).titulo }}"
            },
            {
              "name": "prioridad",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).prioridad }}"
            },
            {
              "name": "fecha_objetivo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).fecha_objetivo }}"
            },
            {
              "name": "creado_por",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Tarea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2192,
        7856
      ],
      "id": "289199b8-fd97-43c1-8112-8e279b32239c"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "TAREAS!A:F",
        "options": {}
      },
      "name": "Save Tarea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2368,
        7856
      ],
      "id": "c8186c7a-0ae0-4d60-b1e1-12436d1dfb8f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_habito",
              "value": "={{ 'H-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).nombre }}"
            },
            {
              "name": "frecuencia",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).frecuencia }}"
            },
            {
              "name": "hora_recordatorio",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).hora_recordatorio }}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Habito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2192,
        8240
      ],
      "id": "7db035f7-6f40-4a76-9078-1a15d98ce802"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "HABITOS!A:E",
        "options": {}
      },
      "name": "Save Habito",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2368,
        8240
      ],
      "id": "d026a2ac-89e5-4fdb-9b53-c9f42442719a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_lista",
              "value": "={{ 'L-' + Math.floor(Math.random()*1000) }}"
            },
            {
              "name": "nombre_lista",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).nombre_lista }}"
            },
            {
              "name": "tipo",
              "value": "={{ JSON.parse($json[\"datos_parciales\"]).tipo }}"
            },
            {
              "name": "next_pantalla",
              "value": "={{$json[\"next_pantalla\"]}}"
            },
            {
              "name": "response_text",
              "value": "={{$json[\"response_text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Map: Lista",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2192,
        8880
      ],
      "id": "ba5af5f6-3ec5-49c3-8705-cbd3299a3e3f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "LISTAS!A:D",
        "options": {}
      },
      "name": "Save Lista",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2368,
        8880
      ],
      "id": "dd3ad551-b83d-4fd5-af45-2d10841d5097",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2fbc98b-b518-4097-9b4a-9f35105e939b",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_CITA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        6064
      ],
      "id": "634a0fba-eb42-4184-866c-163549e11695",
      "name": "If"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_6"
            },
            {
              "name": "response_text",
              "value": "\n¿Qué deseas hacer?\n1. Confirmar y guardar\n2. Editar información\n3. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"canal\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Confirmacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6192
      ],
      "id": "e7bba1c3-01a0-4f8b-95fe-f1276e42ed9b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CITA_PASO_5"
            },
            {
              "name": "response_text",
              "value": "Paso 5 de 6\n\n¿Cómo será la atención?\n\n1. Presencial\n2. Virtual\n3. Llamada\n9. Cancelar"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"motivo\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Canal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        6336
      ],
      "id": "094d2904-f34f-416d-a55e-f7a201a69371"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "330d5917-8004-4e5f-8d77-d004fa625b01",
              "leftValue": "={{ (() => {\n  const zone = 'America/Bogota';\n  const raw0 = (($json.msg ?? '') + '').trim();\n  if (!raw0) return false;\n  if (raw0 === '9') return false;\n\n  // Accept YYYY-MM-DD and also YYYY-M-D (we normalize to zero-padded)\n  const m = raw0.match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})$/);\n  if (!m) return false;\n\n  const y = Number(m[1]);\n  const mo = Number(m[2]);\n  const d = Number(m[3]);\n  if (mo < 1 || mo > 12 || d < 1 || d > 31) return false;\n\n  const raw = `${m[1]}-${String(mo).padStart(2,'0')}-${String(d).padStart(2,'0')}`;\n  const today = $now.setZone(zone).toFormat('yyyy-LL-dd');\n\n  // Lexicographic compare works for ISO dates\n  return raw >= today;\n})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "55168fdd-2358-4174-b856-d7ddf8ad23aa",
              "leftValue": "={{ (()=>{ \n          const msg = ($json.msg || \"\").toString().trim();\n          if (msg === '9') return 'CANCELAR';\n          if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(msg)) return 'FORMATO_INVALIDO';\n          \n          const fechaUsuario = new Date(msg + 'T00:00:00');\n          const hoy = new Date();\n          hoy.setHours(0, 0, 0, 0);\n\n          return (fechaUsuario >= hoy) ? 'FECHA_VALIDA' : 'FECHA_PASADA';\n        })() }}",
              "rightValue": "=FECHA_VALIDA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        5952
      ],
      "id": "9d78840e-beab-4b04-94d8-c10e5ad223c2",
      "name": "FechaInvalida"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "={{ $node[\"Init Variables\"].json.msg === '9' ? 'MENU_AGENDA' : 'CITA_PASO_1' }}"
            },
            {
              "name": "response_text",
              "value": "={{ (() => {\n  const zone = 'America/Bogota';\n  const raw = (($json.msg ?? $node[\"Init Variables\"].json.msg) || '').trim();\n  const today = $now.setZone(zone).toFormat('yyyy-LL-dd');\n\n  if (raw === '9') {\n    return `Cancelado ✅\\n\\nVolviendo a Agenda...`;\n  }\n\n  return `Ups, esa fecha no es válida o ya pasó.\\n\\nHoy es: ${today}\\nFormato: YYYY-MM-DD (ej: ${today})\\n\\nVuelve a escribir la fecha.\\n9. Cancelar`;\n})() }}\n"
            },
            {
              "name": "datos_parciales",
              "value": "={{ $node[\"Init Variables\"].json.datos_previos_str || '{}' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Cita: Fecha confirmacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1648,
        5968
      ],
      "id": "9601fe34-c38b-4b02-92e6-5436d31020f4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eedaac33-5c37-4350-9494-8842326c97a1",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_TAREA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        7872
      ],
      "id": "3f8ea5b0-3159-4c42-a82b-112ef7e6cf06",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "669ce903-f2f7-4c0c-9117-e327f7059fd0",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_HABITO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        8256
      ],
      "id": "0b549916-1818-4cf7-a3f8-e2f62f2c4be1",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4809656-c6fb-4348-a34a-b7ae0560280b",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_LISTA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        8896
      ],
      "id": "a6855d6f-eb78-4f2f-b2d0-30b1efbd1de9",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c77ebef4-b1ba-427d-86a0-caa1807b0a50",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_USER",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        6720
      ],
      "id": "7d3ff491-e245-4f31-a299-d75092ed3b55",
      "name": "If4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "USUARIOS!A:D",
        "lookupColumn": "telegram_user",
        "lookupValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"].toString() }}",
        "options": {}
      },
      "name": "Check User Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        352,
        8640
      ],
      "id": "c2ce5561-bcf3-4baa-a4a3-896335ac3982",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "SESSIONS!A:E",
        "lookupColumn": "telegram_user",
        "lookupValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"].toString() }}",
        "options": {}
      },
      "name": "Check Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        208,
        8640
      ],
      "id": "ee5c5732-75ef-442e-86ef-227e6351a580",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_RECORDATORIOS"
            },
            {
              "name": "response_text",
              "value": "🔔 Menú Recordatorios (Beta)\n\n1. Crear nuevo recordatorio\n2. Ver activos\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Recordatorios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9152
      ],
      "id": "57156b75-b779-4376-bd84-e6673d44637f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_CONFIG"
            },
            {
              "name": "response_text",
              "value": "⚙️ Configuración\n1. Ver Perfil\n2. Reiniciar Bot\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Configuracion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9408
      ],
      "id": "4bd1a1d2-5331-4231-9ed3-0be9ee75a37f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_ADMIN"
            },
            {
              "name": "response_text",
              "value": "🔒 Panel de Administrador\n\nAcceso restringido.\n\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Admin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9536
      ],
      "id": "69f2b64a-322c-48ab-9d52-b2bd4672348c"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_AYUDA"
            },
            {
              "name": "response_text",
              "value": "ℹ️ Ayuda AgendaBot\n\nNavega escribiendo los números del menú.\nSi te trabas, escribe /start.\n\n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Ayuda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9664
      ],
      "id": "dfad5c7c-c618-4399-9657-659cdac8899a"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "TAREA_PASO_3",
              "output": "={{ 0 }}"
            },
            {
              "value2": "HABITO_PASO_1",
              "output": "={{ 1 }}"
            },
            {
              "value2": "HABITO_PASO_2",
              "output": "={{ 2 }}"
            },
            {
              "value2": "HABITO_PASO_3",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        8768
      ],
      "id": "b875a9bc-9db4-408f-bc4d-d7cf2cde7487"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "LISTA_PASO_1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "LISTA_PASO_2",
              "output": "={{ 1 }}"
            },
            {
              "value2": "MENU_RECORDATORIOS",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_REPORTES",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router5",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        8960
      ],
      "id": "35ea592c-2f84-4ab1-83a6-c7af88c1a244"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "3",
              "output": "={{ 0 }}"
            },
            {
              "value2": "6",
              "output": "={{ 1 }}"
            },
            {
              "value2": "7",
              "output": "={{ 2 }}"
            },
            {
              "value2": "9",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Switch: Menu P.1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1488,
        8096
      ],
      "id": "c89afddc-2d06-4c3d-8b86-3466858b001a"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response_text",
              "value": "Ups, esa opción no parece correcta. 🤔\nPor favor, escribe solo uno de los números que ves en el menú de arriba"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            }
          ]
        },
        "options": {}
      },
      "name": "Opcion Invalida",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2112,
        7408
      ],
      "id": "05efa1a6-18fb-4a56-9b8f-0fa50f2bfb71"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "regex",
              "value2": "^[0-8]$",
              "output": "={{ 0 }}"
            },
            {
              "operation": "notRegex",
              "value2": "^[0-8]$",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Validador Menu",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1264,
        8000
      ],
      "id": "db999574-5751-4ccf-8552-1e4522d90d01"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_EDITAR_SELECCION"
            },
            {
              "name": "response_text",
              "value": "Un momento, estoy buscando tus citas..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Reprogramar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9920
      ],
      "id": "11ae47b0-5a16-4634-a019-e2a95a006474"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_CANCELAR_ID"
            },
            {
              "name": "response_text",
              "value": "🗑️ Entendido, cancelemos una cita.\\n\\nEscribe la **FECHA** (YYYY-MM-DD) de la cita que quieres cancelar."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10048
      ],
      "id": "8a1f6392-59ce-47de-8e06-4d02710ae2fb"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_COMPLETAR_ID"
            },
            {
              "name": "response_text",
              "value": "✅ ¡Excelente! Tarea cumplida.\\n\\nEscribe la **FECHA** (YYYY-MM-DD) de la cita que ya realizaste."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Completar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10176
      ],
      "id": "2b93e3d0-cfdf-440a-8871-a9861ce0eabd"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "4",
              "output": "={{ 0 }}"
            },
            {
              "value2": "5",
              "output": "={{ 1 }}"
            }
          ]
        }
      },
      "name": "Sw: Agenda1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        8688
      ],
      "id": "88c450a3-764f-4cb6-8461-8b90dc9d2206"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:I",
        "options": {}
      },
      "name": "Consulta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2080,
        9792
      ],
      "id": "cb02ff04-7eed-4c59-9df4-aee78e7262db",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "REC_PASO_1"
            },
            {
              "name": "response_text",
              "value": "🔔 Nuevo Recordatorio:\n¿Qué quieres recordar? (Escribe el mensaje)"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Recordatorio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10448
      ],
      "id": "fcb79290-206b-4a2f-aa16-10f4bf5aae7a"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "📊 Generando reporte semanal... \n\n✅ Tareas completadas: 5 \n✅ Citas asistidas: 2"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Reporte",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10832
      ],
      "id": "bfefd2bb-65fa-4802-8e17-c72d701dc0d1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "CONF_PASO_1"
            },
            {
              "name": "response_text",
              "value": "⚙️ Configuración: Tu nombre actual es . \nEscribe el nuevo nombre si deseas cambiarlo, o 9 para salir.\n\n"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10960
      ],
      "id": "1033b082-d178-4ce8-8bbc-41ef8b30bfa8"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "response_text",
              "value": "🔒 Acceso Denegado. \nNo tienes permisos de administrador.\n\n🔄 Volviendo al menú...  \n\n¿En qué puedo ayudarte ahora?  \n\n0. Ayuda \n1. Agenda (citas) \n2. Tareas \n3. Recordatorios \n4. Hábitos \n5. Listas \n6. Reportes \n7. Configuración \n8. Administrador  \n\nEscribe el número de la opción deseada."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Start Admin",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        11088
      ],
      "id": "3664ab62-2fd0-4208-b363-243c69d0aa51"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos TU identidad (aseguramos que sea texto para comparar)\nconst miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\n// 2. FILTRADO MANUAL:\nconst misCitas = items.filter(fila => {\n    // PROTECCIÓN: Usamos (valor || \"\") para evitar errores si la celda está vacía\n    const creador = (fila.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (fila.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    \n    // Comparamos\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\n// 3. GENERAR MENSAJE\nlet mensaje = \"📅 *Tu Agenda Pendiente:*\\n\\n\";\n\nif (misCitas.length === 0) {\n    mensaje += \"Relax 🏖️. No tienes nada pendiente por ahora.\";\n} else {\n    misCitas.forEach((cita, index) => {\n        // Datos seguros por si faltan en el Excel\n        const fecha = cita.json[\"fecha\"] || \"Sin fecha\";\n        const hora = cita.json[\"hora\"] || \"--:--\";\n        const motivo = cita.json[\"motivo\"] || \"Sin motivo\";\n        \n        mensaje += `${index + 1}. *${fecha}* a las ${hora}\\n   📝 ${motivo}\\n\\n`;\n    });\n}\n\n// 4. ENTREGAR RESULTADO\nreturn [{\n    json: {\n        response_text: mensaje,\n        next_pantalla: \"MENU_AGENDA\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        9792
      ],
      "id": "c95983b3-00e9-4ea0-b908-9d8e5b215de2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Recordatorios",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        8880
      ],
      "id": "c3e94a8e-2c1c-4af1-946f-5519087a9033"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "AGENDA_EDITAR_ID",
              "output": "={{ 0 }}"
            },
            {
              "value2": "AGENDA_COMPLETAR_ID",
              "output": "={{ 1 }}"
            },
            {
              "value2": "AGENDA_CANCELAR_ID",
              "output": "={{ 2 }}"
            },
            {
              "value2": "AGENDA_EDITAR_FINAL",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        9152
      ],
      "id": "cafa51bc-d481-4d5f-b3fe-3c69a521e2f9"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_EDITAR_FINAL"
            },
            {
              "name": "response_text",
              "value": "🗓️ Cita encontrada. ¿Para qué fecha la reprogramamos? (YYYY-MM-DD)"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_vieja\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Reprogramar Solicitar Nueva Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10304
      ],
      "id": "10c07601-ae12-4275-91fa-42d40dbe4361"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "=^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Reportes",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        9072
      ],
      "id": "97467f1a-9d6f-4e93-9204-2d9579280ebf"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "1",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Config",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        9264
      ],
      "id": "08a5fc21-5ae5-4bbc-a829-9df3dd71bd6b"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "8",
              "output": "={{ 0 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 1 }}"
            },
            {
              "value2": "9",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Admin",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        9456
      ],
      "id": "9edd2776-606d-4e15-8042-646d5e52593d"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "key": "=id_cita",
        "options": {}
      },
      "name": "Update: Cancelar Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1712,
        10576
      ],
      "id": "5528892d-fe7c-4718-a420-29f14880a01f",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response_text",
              "value": "🚧 Función en construcción 🚧"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "En Construccion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2112,
        7536
      ],
      "id": "ffd52a4e-efe5-4c60-b965-aeb74de3167a"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_CANCELAR_SELECCION"
            },
            {
              "name": "response_text",
              "value": "Un momento, estoy buscando tus citas..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Fin Cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10576
      ],
      "id": "1ae7fcc3-188b-453b-9025-f025aed0959a"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "key": "=id_cita",
        "options": {}
      },
      "name": "Update: Completar Cita",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1712,
        10704
      ],
      "id": "3992d977-c785-4f0a-8fe9-d256268b9c6d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_cita",
              "value": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).citas_encontradas[parseInt($node[\"Init Variables\"].json[\"msg\"]) - 1].id_cita }}"
            },
            {
              "name": "estado",
              "value": "COMPLETADA"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Completar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1552,
        10704
      ],
      "id": "7440c690-3d2f-4df4-a537-04621f05e4f1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fecha",
              "value": "{{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"] || '{}').fecha_vieja }}"
            },
            {
              "name": "estado",
              "value": "REPROGRAMADA"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_vieja\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Reprogramacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2208,
        10288
      ],
      "id": "d2c35a2e-a9bf-4485-a764-39d7a52a55ae"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fecha",
              "value": "{{ $node[\"Init Variables\"].json[\"msg\"] }}"
            },
            {
              "name": "hora",
              "value": "00:00"
            },
            {
              "name": "datos_parciales",
              "value": "={{ JSON.stringify(Object.assign(JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]), { \"fecha_vieja\": $node[\"Init Variables\"].json[\"msg\"] })) }}"
            },
            {
              "name": "nombre",
              "value": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).nombre }}"
            },
            {
              "name": "motivo",
              "value": "Reprogramación"
            },
            {
              "name": "estado",
              "value": "PENDIENTE"
            },
            {
              "name": "creado_por",
              "value": "={{ $node[\"Init Variables\"].json[\"telegram_user\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Nueva Cita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2640,
        10288
      ],
      "id": "5fba6380-1b51-474a-834f-385179401b8b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_PRINCIPAL"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "response_text",
              "value": "=✅ Cita reprogramada con éxito para el {{ $node[\"Init Variables\"].json[\"msg\"] }}."
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Fin Reprogramar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2928,
        10288
      ],
      "id": "58f705ff-7372-4619-abf8-f2e87fc51b94"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "options": {}
      },
      "name": "Save Cita1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2784,
        10288
      ],
      "id": "ec3d2342-ba0e-4fd7-8ed6-dede5845378b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c77ebef4-b1ba-427d-86a0-caa1807b0a50",
              "leftValue": "={{$json[\"action_flag\"]}}",
              "rightValue": "SAVE_CITA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        10304
      ],
      "id": "86428bce-e14e-4196-84f3-efccf489f752",
      "name": "If5"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "MENU_CONFIG",
              "output": "={{ 0 }}"
            },
            {
              "value2": "MENU_ADMIN",
              "output": "={{ 1 }}"
            },
            {
              "value2": "AGENDA_EDITAR_ELEGIDA",
              "output": "={{ 2 }}"
            },
            {
              "value2": "AGENDA_CANCELAR_ELEGIDA",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router7",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        9344
      ],
      "id": "0a23abae-da11-4c01-85db-9e61618e083f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_AGENDA"
            },
            {
              "name": "response_text",
              "value": "🔍 Buscando tus citas pendientes, un momento..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "READ_AGENDA"
            }
          ]
        },
        "options": {}
      },
      "name": "Citas consultar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9792
      ],
      "id": "ad44762c-207c-4e88-9dfd-a3fd90d3b948"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:I",
        "options": {}
      },
      "name": "Consulta1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2080,
        9920
      ],
      "id": "b7d591a3-9b0f-4cea-b11e-959dcee462f6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener el ID del usuario actual\nconst miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\n// 2. Filtrar solo las citas del usuario que estén PENDIENTES\nconst misCitas = items.filter(item => {\n    const creador = (item.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (item.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\n// 3. Si no hay citas, avisar\nif (misCitas.length === 0) {\n    return [{ json: { \n        response_text: \"No tienes citas pendientes para reprogramar. 🏖️\", \n        next_pantalla: \"MENU_AGENDA\",\n        datos_parciales: \"{}\" \n    }}];\n}\n\n// 4. Generar el mensaje con la lista numerada\nlet mensaje = \"🗓️ *Elige la cita que quieres REPROGRAMAR:* \\n\\n\";\nmisCitas.forEach((cita, index) => {\n    mensaje += `${index + 1}. ${cita.json.fecha} - ${cita.json.motivo}\\n`;\n});\nmensaje += \"\\nEscribe el número de la opción.\";\n\n// 5. Guardar las citas encontradas en memoria para poder sacar el ID después\nconst datosParciales = { citas_encontradas: misCitas.map(c => c.json) };\n\nreturn [{ json: { \n    response_text: mensaje, \n    next_pantalla: \"AGENDA_EDITAR_ELEGIDA\",\n    datos_parciales: JSON.stringify(datosParciales) \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        9920
      ],
      "id": "b868564c-25ef-41e4-ac77-e177beddf531",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_COMPLETAR_SELECCION"
            },
            {
              "name": "response_text",
              "value": "Un momento, estoy buscando tus citas..."
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            },
            {
              "name": "action_flag",
              "value": "NONE"
            }
          ]
        },
        "options": {}
      },
      "name": "Fin Completar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        10704
      ],
      "id": "16ddca87-26ec-4658-b251-4f6056e55a48"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "options": {}
      },
      "name": "Consulta2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2048,
        10576
      ],
      "id": "c20df6e8-a7d1-4517-8cad-884b3155d52d",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\nconst misCitas = items.filter(item => {\n    const creador = (item.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (item.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\nif (misCitas.length === 0) {\n    return [{ json: { \n        response_text: \"No tienes citas que se puedan cancelar. 🏜️\", \n        next_pantalla: \"MENU_AGENDA\",\n        datos_parciales: \"{}\" \n    }}];\n}\n\nlet mensaje = \"🗑️ *Elige la cita que quieres CANCELAR:* \\n\\n\";\nmisCitas.forEach((cita, index) => {\n    mensaje += `${index + 1}. ${cita.json.fecha} - ${cita.json.motivo}\\n`;\n});\nmensaje += \"\\nEscribe el número de la cita.\";\n\nconst datosParciales = { citas_encontradas: misCitas.map(c => c.json) };\n\nreturn [{ json: { \n    response_text: mensaje, \n    next_pantalla: \"AGENDA_CANCELAR_ELEGIDA\",\n    datos_parciales: JSON.stringify(datosParciales) \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        10576
      ],
      "id": "8e003e19-f8bd-4efb-80d9-874a16be1fc5",
      "name": "Code Cancelar"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "options": {}
      },
      "name": "Consulta3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2048,
        10704
      ],
      "id": "fc51536a-7c6d-4fdd-8238-8c6395fb6f2a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const miId = $node[\"Init Variables\"].json[\"telegram_user\"].toString().trim();\n\nconst misCitas = items.filter(item => {\n    const creador = (item.json[\"creado_por\"] || \"\").toString().trim();\n    const estado = (item.json[\"estado\"] || \"\").toString().trim().toUpperCase();\n    return creador === miId && estado === \"PENDIENTE\";\n});\n\nif (misCitas.length === 0) {\n    return [{ json: { \n        response_text: \"No tienes citas pendientes para completar. ✅\", \n        next_pantalla: \"MENU_AGENDA\",\n        datos_parciales: \"{}\" \n    }}];\n}\n\nlet mensaje = \"✅ *Elige la cita que ya realizaste:* \\n\\n\";\nmisCitas.forEach((cita, index) => {\n    mensaje += `${index + 1}. ${cita.json.fecha} - ${cita.json.motivo}\\n`;\n});\nmensaje += \"\\nEscribe el número de la cita.\";\n\nconst datosParciales = { citas_encontradas: misCitas.map(c => c.json) };\n\nreturn [{ json: { \n    response_text: mensaje, \n    next_pantalla: \"AGENDA_COMPLETAR_ELEGIDA\",\n    datos_parciales: JSON.stringify(datosParciales) \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        10704
      ],
      "id": "ad1b959a-5a7e-4883-8e0d-1bc41ac12a4c",
      "name": "Code Cancelar1"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "AGENDA_COMPLETAR_ELEGIDA",
              "output": "={{ 0 }}"
            },
            {
              "value2": "MENU_AYUDA",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_PRINCIPAL",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router8",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        9536
      ],
      "id": "d96e05ee-1a20-4380-b32d-df11f0e74f66"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id_cita",
              "value": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).citas_encontradas[parseInt($node[\"Init Variables\"].json[\"msg\"]) - 1].id_cita }}"
            },
            {
              "name": "estado",
              "value": "CANCELADA"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Cancelar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1408,
        10576
      ],
      "id": "4f682dd4-63ed-420a-a504-28abbc8e152a"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "lookupColumn": "id_cita",
        "lookupValue": "={{ JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"]).id_cita_a_editar }}",
        "options": {}
      },
      "name": "Get Cita Vieja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2352,
        10288
      ],
      "id": "700405cf-8d68-411a-a775-d93aa0ec1c46",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "delete",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "toDelete": {
          "rows": [
            {
              "sheetId": 0
            }
          ]
        }
      },
      "name": "Delete Cita Vieja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2496,
        10288
      ],
      "id": "b9d9e205-13de-4ed1-ab53-5e4771be2ccc",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "sheetId": "1R-ag9qDZmc5I3UaAZ9doCjR1WPIY_lo305zfWmuy2mE",
        "range": "CITAS!A:J",
        "dataStartRow": 2,
        "keyRow": 1,
        "lookupColumn": "fecha",
        "lookupValue": "={{ $node[\"Init Variables\"].json[\"msg\"] }}",
        "options": {}
      },
      "name": "Lookup Cancelar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1552,
        10576
      ],
      "id": "14e6559d-90e5-4e0a-b5b3-aa8ef3969a39",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JqJIv6xRQaCm4ln",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "MENU_REPORTES"
            },
            {
              "name": "response_text",
              "value": "📊 Menú Reportes  \n\n1. Resumen semanal \n2. Exportar datos \n9. Volver"
            },
            {
              "name": "datos_parciales",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "name": "Reportes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        9280
      ],
      "id": "14e5616f-c3f1-4b16-a1f9-faf3ad6527df"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Init Variables\"].json[\"msg\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "0",
              "output": "={{ 0 }}"
            },
            {
              "value2": "9",
              "output": "={{ 1 }}"
            },
            {
              "operation": "regex",
              "value2": "^[2-8]$",
              "output": "={{ 2 }}"
            }
          ]
        }
      },
      "name": "Sw: Ayuda",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1120,
        10032
      ],
      "id": "b9ef65f8-2dee-46c9-b7c1-dc24f1f284c9"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "next_pantalla",
              "value": "AGENDA_EDITAR_FINAL"
            },
            {
              "name": "response_text",
              "value": "Entendido. ¿Cuál es la NUEVA fecha? (YYYY-MM-DD)"
            },
            {
              "name": "datos_parciales",
              "value": "={{\n(() => {\n  const datos = JSON.parse($node[\"Init Variables\"].json[\"datos_previos_str\"] || '{}');\n  const eleccion = parseInt($node[\"Init Variables\"].json[\"msg\"], 10) - 1;\n\n  if (datos.citas_encontradas && datos.citas_encontradas[eleccion]) {\n    datos.id_cita_a_editar = datos.citas_encontradas[eleccion].id_cita;\n  }\n  \n  return JSON.stringify(datos);\n})()\n}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Solicitar Nueva Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1856,
        11216
      ],
      "id": "9b159a28-d6fb-429e-935e-984a122f7179"
    },
    {
      "parameters": {
        "content": "## Redirecionadores de estado\n",
        "height": 1808,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        7920
      ],
      "typeVersion": 1,
      "id": "b5ece84e-28b6-4b78-b979-b07ed7a32ca7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Validacion de opciones no existentes\n",
        "height": 320,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        7888
      ],
      "typeVersion": 1,
      "id": "a87e5045-aa23-47d0-974d-f865b04e19df",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Opciones del menu de agenda\n\n",
        "height": 512,
        "width": 224,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        7776
      ],
      "typeVersion": 1,
      "id": "37271d24-ed2a-4655-8d3c-8a6a7c6700ad",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"pantalla_actual\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "NO_REGISTRADO",
              "output": "={{ 0 }}"
            },
            {
              "value2": "REGISTRO_NOMBRE",
              "output": "={{ 1 }}"
            },
            {
              "value2": "INICIO",
              "output": "={{ 2 }}"
            },
            {
              "value2": "MENU_PRINCIPAL",
              "output": "={{ 3 }}"
            }
          ]
        }
      },
      "name": "Master Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        848,
        8000
      ],
      "id": "9b303cc5-6bfd-4c1c-9bae-000cbeea54f2"
    },
    {
      "parameters": {
        "content": "## Revision de variables aplicadas en el sheet + logica del usuario y sesion\n",
        "height": 288,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        8512
      ],
      "typeVersion": 1,
      "id": "edc54cc6-19e9-401f-a50b-d93c9fae19cd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Subopciones de los menus varios\n\n\n",
        "height": 2016,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        8224
      ],
      "typeVersion": 1,
      "id": "1b569ea1-d6e3-4ca6-b253-f6138bdbfb9b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Interacciones principales de todas las opciones del menu\n",
        "height": 5616,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        5744
      ],
      "typeVersion": 1,
      "id": "14d7fa71-4f2a-49fd-9788-e2a4c23d4d31",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Funcion de guardado",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        5968
      ],
      "typeVersion": 1,
      "id": "44508566-ebef-41c8-97b3-d7edbb8609d8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Funcion de guardado",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        6608
      ],
      "typeVersion": 1,
      "id": "d57f6e4b-f8c9-48b5-9303-79815cfd7aa3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Funcion de guardado",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        7776
      ],
      "typeVersion": 1,
      "id": "4f247e16-d410-4a02-ba09-4e337c98a458",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Funcion de guardado",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        8144
      ],
      "typeVersion": 1,
      "id": "9f2e9dc4-e0ba-4b81-95ad-9f9164875356",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Funcion de guardado",
        "height": 240,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        8800
      ],
      "typeVersion": 1,
      "id": "c5030dc1-7ca4-4b36-b732-c286950aa0a3",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Variables": {
      "main": [
        [
          {
            "node": "Master Router1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Master Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P0: New User": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P0: Save User": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1: Inicio": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Menu P.": {
      "main": [
        [
          {
            "node": "Ir a Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ir a Tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ir a Habitos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ir a Listas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Agenda": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Tareas": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Habitos": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir a Listas": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Agenda": {
      "main": [
        [
          {
            "node": "Start Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Citas consultar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Reprogramar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Cita": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Volver": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Fecha": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Hora": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Nombre": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Fin": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Tareas": {
      "main": [
        [
          {
            "node": "Start Tarea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcion Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Tarea": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarea: Titulo": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarea: Prioridad": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarea: Fin": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Habitos": {
      "main": [
        [
          {
            "node": "Start Habito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Habito": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hab: Nombre": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hab: Freq": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hab: Fin": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Listas": {
      "main": [
        [
          {
            "node": "Start Lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Lista": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista: Nombre": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista: Fin": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Updates": {
      "main": [
        [
          {
            "node": "Format Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fields": {
      "main": [
        [
          {
            "node": "Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router1": {
      "main": [
        [
          {
            "node": "Sw: Agenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sw: Agenda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Habitos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Listas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router2": {
      "main": [
        [
          {
            "node": "FechaInvalida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Hora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Nombre",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch: Menu P.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router3": {
      "main": [
        [
          {
            "node": "Cita: Confirmacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarea: Titulo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarea: Prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: User": {
      "main": [
        [
          {
            "node": "Save User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Cita": {
      "main": [
        [
          {
            "node": "Save Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Tarea": {
      "main": [
        [
          {
            "node": "Save Tarea",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Habito": {
      "main": [
        [
          {
            "node": "Save Habito",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map: Lista": {
      "main": [
        [
          {
            "node": "Save Lista",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cita": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Map: Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Confirmacion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Canal": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FechaInvalida": {
      "main": [
        [
          {
            "node": "Cita: Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita: Fecha confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cita: Fecha confirmacion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Map: Tarea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Map: Habito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Map: Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Map: User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Profile": {
      "main": [
        [
          {
            "node": "Init Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session": {
      "main": [
        [
          {
            "node": "Check User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router4": {
      "main": [
        [
          {
            "node": "Tarea: Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hab: Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hab: Freq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hab: Fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router5": {
      "main": [
        [
          {
            "node": "Lista: Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lista: Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Recordatorios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Menu P.1": {
      "main": [
        [
          {
            "node": "Recordatorios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Configuracion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recordatorios": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validador Menu": {
      "main": [
        [
          {
            "node": "Switch: Menu P.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch: Menu P.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcion Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opcion Invalida": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Agenda1": {
      "main": [
        [
          {
            "node": "Start Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Completar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router6": {
      "main": [
        [
          {
            "node": "Reprogramar Solicitar Nueva Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Completar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Reprogramacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Recordatorios": {
      "main": [
        [
          {
            "node": "Start Recordatorio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reprogramar Solicitar Nueva Fecha": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Reportes": {
      "main": [
        [
          {
            "node": "Start Reporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Config": {
      "main": [
        [
          {
            "node": "Start Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Admin": {
      "main": [
        [
          {
            "node": "Start Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "En Construccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Cancelar Cita": {
      "main": [
        [
          {
            "node": "Fin Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Cancelar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Completar Cita": {
      "main": [
        [
          {
            "node": "Fin Completar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Completar": {
      "main": [
        [
          {
            "node": "Update: Completar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Reprogramacion": {
      "main": [
        [
          {
            "node": "Get Cita Vieja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Nueva Cita": {
      "main": [
        [
          {
            "node": "Save Cita1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Reprogramar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Preparar Reprogramacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router7": {
      "main": [
        [
          {
            "node": "Sw: Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solicitar Nueva Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "En Construccion": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cita1": {
      "main": [
        [
          {
            "node": "Fin Reprogramar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Reprogramar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Cancelar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Completar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Recordatorio": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Reporte": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Config": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Admin": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citas consultar": {
      "main": [
        [
          {
            "node": "Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Completar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Consulta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta2": {
      "main": [
        [
          {
            "node": "Code Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Cancelar": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta3": {
      "main": [
        [
          {
            "node": "Code Cancelar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Cancelar1": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Cancelar": {
      "main": [
        [
          {
            "node": "Lookup Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router8": {
      "main": [
        [
          {
            "node": "Preparar Completar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cita Vieja": {
      "main": [
        [
          {
            "node": "Delete Cita Vieja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cita Vieja": {
      "main": [
        [
          {
            "node": "Preparar Nueva Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Cancelar": {
      "main": [
        [
          {
            "node": "Update: Cancelar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reportes": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sw: Ayuda": {
      "main": [
        [
          {
            "node": "Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Volver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ayuda": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitar Nueva Fecha": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Router": {
      "main": [
        [
          {
            "node": "P0: New User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "P0: Save User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "P1: Inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sw: Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Validador Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1e0b7668-9305-4652-b326-a2d7feb42db0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0a4a578bf5b2debe4fff6b4edb7dae8d3bd63a2e6298bf74a79da157f01cf66"
  },
  "id": "K2wUR5j9YZM02U2WWx0ih",
  "tags": []
}